*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, #45b8f6), color-stop(#2daa26), to(#2daa26));
  background: linear-gradient(to bottom, #45b8f6 60%, #2daa26, #2daa26);
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  position: relative;
}

.ear {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
}

.ear-right, .ear-left {
  width: 55px;
  height: 55px;
  background-color: #a1662a;
  border: 5px solid #3d2104;
  border-radius: 50%;
  position: relative;
  top: 35px;
  overflow: hidden;
}

.ear-right {
  left: 150px;
}

.ear-left {
  left: -60px;
}

.ear-right::before, .ear-left::before {
  content: '';
  position: absolute;
  width: 45px;
  height: 50px;
  background-color: #f9bf43;
  border: 5px solid #3d2104;
  border-radius: 50%;
  bottom: -15px;
}

.ear-right::before {
  right: -10px;
}

.ear-left::before {
  right: 10px;
}

.head {
  width: 200px;
  height: 170px;
  background-color: #a1662a;
  border-radius: 50% / 50%;
  border: 5px solid #3d2104;
  position: relative;
  z-index: 10;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.head .eye-right,
.head .eye-left {
  width: 15px;
  height: 15px;
  background-color: #252317;
  border-radius: 50%;
  position: absolute;
  -webkit-animation: blink 3s infinite;
          animation: blink 3s infinite;
}

.head .eye-right {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  right: 50px;
}

.head .eye-left {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  left: 50px;
}

@-webkit-keyframes blink {
  0% {
    height: 15px;
  }
  5% {
    height: 2px;
  }
  20% {
    height: 15px;
  }
}

@keyframes blink {
  0% {
    height: 15px;
  }
  5% {
    height: 2px;
  }
  20% {
    height: 15px;
  }
}

.head .snout {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  width: 50px;
  height: 45px;
  background-color: #f9f4e1;
  border-radius: 50%;
  position: absolute;
  bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.head .snout .nose {
  width: 12px;
  height: 12px;
  background-color: #252317;
  border-radius: 50%;
  position: absolute;
  top: 15px;
}

.head .snout .mouth::before,
.head .snout .mouth::after {
  content: '';
  position: absolute;
  width: 15px;
  height: 5px;
  background-color: #252317;
  border-radius: 5px;
  top: 27px;
}

.head .snout .mouth::before {
  left: 13px;
  -webkit-transform: rotate(-35deg);
          transform: rotate(-35deg);
}

.head .snout .mouth::after {
  left: 22px;
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
}

.body {
  width: 130px;
  height: 130px;
  background-color: #a1662a;
  margin: 0 auto;
  border-radius: 30% / 80%;
  border: 5px solid #3d2104;
  position: relative;
  top: -30px;
  z-index: 1;
  overflow: hidden;
}

.body::before {
  content: '';
  width: 75px;
  height: 85px;
  background-color: #f9f4e1;
  border-radius: 50%;
  position: absolute;
  top: 35px;
  left: 23px;
}

.hand-right,
.hand-left {
  width: 45px;
  height: 100px;
  background-color: #a1662a;
  border-radius: 40%;
  border: 5px solid #3d2104;
  z-index: 10;
  position: absolute;
  bottom: 48px;
}

.hand-right::before,
.hand-left::before {
  content: '';
  width: 20px;
  height: 35px;
  background-color: inherit;
  position: absolute;
  top: -3.7px;
}

.hand-right {
  right: 12px;
  -webkit-transform: rotate(-25deg);
          transform: rotate(-25deg);
}

.hand-right::before {
  -webkit-clip-path: polygon(0 0, 100% 11%, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 11%, 100% 100%, 0% 100%);
  right: 20.3px;
}

.hand-left {
  left: 12px;
  -webkit-transform: rotate(25deg);
          transform: rotate(25deg);
}

.hand-left::before {
  -webkit-clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
  left: 20.4px;
}

.feet-right,
.feet-left {
  width: 45px;
  height: 55px;
  background-color: #a1662a;
  border-radius: 0 0 15px 15px;
  border: 5px solid #3d2104;
  border-top: none;
  position: absolute;
  bottom: -20px;
  z-index: 2;
}

.feet-right {
  right: 50px;
}

.feet-left {
  left: 50px;
}

.pants,
.hat {
  width: 100%;
  height: 50px;
  background: -webkit-gradient(linear, left bottom, left top, from(#502b06), color-stop(50%, #502b06), color-stop(50%, #ede254), to(#ede254));
  background: linear-gradient(to top, #502b06, #502b06 50%, #ede254 50%, #ede254);
  background-size: 100% 30px;
  position: absolute;
}

.pants {
  bottom: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.hat {
  top: 0;
}

.antenna-right,
.antenna-left {
  width: 7px;
  height: 30px;
  background-color: #502b06;
  position: absolute;
  z-index: 11;
  top: 32px;
}

.antenna-right::before,
.antenna-left::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ede254;
}

.antenna-right {
  right: 70px;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
}

.antenna-right::before {
  top: -5px;
  right: -7px;
}

.antenna-left {
  left: 70px;
  -webkit-transform: rotate(-22deg);
          transform: rotate(-22deg);
}

.antenna-left::before {
  top: -8px;
  left: -7px;
}
/*# sourceMappingURL=main.css.map */