// VARIABLES
$color-brown-1: #c57c34;
$color-brown-2: #a1662a;
$color-brown-dark-1: #6d3d0c;
$color-brown-dark-2: #502b06;
$color-brown-dark-3: #3d2104;

$color-yellow-1: #f9bf43;
$color-yellow-2: #f2cd3a;
$color-yellow-light-1: #ede254;
$color-yellow-light-2: #f7de7c;

$color-white: #f9f4e1;
$color-black: #252317;

$outline: 5px solid $color-brown-dark-3;
// --------------------------------------------------

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: slategrey;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  // border: 2px solid tomato;
}

.ear {
  display: flex;
  z-index: 1;

  &-right,
  &-left {
    width: 55px;
    height: 55px;
    background-color: $color-brown-2;
    border: $outline;
    border-radius: 50%;
    position: relative;
    top: 35px;
    overflow: hidden;
  }

  &-right {
    left: 150px;
  }

  &-left {
    left: -60px;
  }

  &-right::before,
  &-left::before {
    content: '';
    position: absolute;
    width: 45px;
    height: 50px;
    background-color: $color-yellow-1;
    border: $outline;
    border-radius: 50%;
    bottom: -15px;
  }

  &-right::before {
    right: -10px;
  }

  &-left::before {
    right: 10px;
  }
}

.head {
  width: 200px;
  height: 170px;
  background-color: $color-brown-2;
  border-radius: 50% / 50%;
  border: $outline;
  position: relative;
  z-index: 10;

  display: flex;
  justify-content: center;
  align-items: center;

  .eye-right,
  .eye-left {
    width: 15px;
    height: 15px;
    background-color: $color-black;
    border-radius: 50%;
    position: absolute;
  }

  .eye-right {
    order: 1;
    right: 50px;
  }
  .eye-left {
    order: 3;
    left: 50px;
  }

  .snout {
    order: 2;
    width: 50px;
    height: 45px;
    background-color: $color-white;
    border-radius: 50%;
    position: absolute;
    bottom: 40px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .nose {
      width: 12px;
      height: 12px;
      background-color: $color-black;
      border-radius: 50%;
      position: absolute;
      top: 15px;
    }

    .mouth::before,
    .mouth::after {
      content: '';
      position: absolute;
      width: 15px;
      height: 5px;
      background-color: $color-black;
      border-radius: 5px;
      top: 27px;
    }

    .mouth::before {
      left: 13px;
      transform: rotate(-35deg);
    }

    .mouth::after {
      left: 22px;
      transform: rotate(35deg);
    }
  }
}
